#map {
    height: 350px;
    width: 100%;
    border-radius: 15px;
    touch-action: auto;
}

.leaflet-bottom.leaflet-right,
.leaflet-top.leaflet-left {
    display: none;
}

.locationsForm {
    display: none;
    flex-direction: column;
}